include ../blocks.project/includes

doctype html
html(lang="ru")
  include templates/head/head
    block head
      - var pageTitle = "Забор из металлического штакетника";

  +page

    +header(false).__header


    +b.content.__content

      .grid.grid_no-sm-padding
        +scroll-menu

      +section-fence


      +b("section").section-visualizer#visualizer
        .grid
          +b("h2").heading._line Визуализатор забора из штакетника
          +e("p").subheading Мы создали специальный инструмент для визуального просмотра, который поможет вам подобрать удачную конфигурацию вашего будущего ограждения: типоразмер планок, расстояние между ними, цвет и др.
        .grid.grid_no-sm-padding
          //- ВИЗУАЛИЗАТОР --- START
          +b.visualizer._shtaket
            +e.hidden

            +e.controls(data-folder="4")
              +e.control-item
                +b.label Ракурс:
                +b.visualizer-control
                  +e("a")(href="r1").drop-button Вид снаружи
                  +e("ul").drop-list
                    +e("li").drop-item._selected
                      +e("a")(href="r1").drop-link Вид снаружи
                    +e('li').drop-item
                      +e("a")(href="r2").drop-link Вид изнутри
              +e.control-item
                +b.label Вид штакетника:
                +b.visualizer-control
                  +e("a")(href="v1t2").drop-button._view П-образный 136 мм. с бороздками
                  +e("ul").drop-list
                    +e("li").drop-item
                      +e("a")(href="v1t1").drop-link П-образный 136 мм. гладкий
                    +e("li").drop-item._selected
                      +e("a")(href="v1t2").drop-link П-образный 136 мм. с бороздками
                    +e("li").drop-item
                      +e("a")(href="v1t3").drop-link Штакетник 125 мм.
              +e.control-item
                +b.label Варианты установки:
                +b.visualizer-control
                  +e("a")(href="s1").drop-button Верт. в ряд
                  +e("ul").drop-list
                    +e("li").drop-item._selected
                      +e("a")(href="s1").drop-link Верт. в ряд
                    +e("li").drop-item
                      +e("a")(href="s2").drop-link Верт. в шахм. порядке
                    +e("li").drop-item
                      +e("a")(href="s3").drop-link Горизонт. в шахм. порядке
              +e.control-item
                +b.label Вид обрезки:
                +b.visualizer-control
                  +e("a")(href="o1").drop-button._shtaket Прямая
                  +e("ul").drop-list
                    +e("li").drop-item._selected
                      +e("a")(href="o1").drop-link Прямая
                    +e("li").drop-item
                      +e("a")(href="o2").drop-link Трапеция
                    +e("li").drop-item
                      +e("a")(href="o3" style="display:none").drop-link Дуга

            +e.box._front._s1._o1
              +e.fence
              +e.ios-switch-container
                +b("label").ios-switch.__ios-switch
                  +e("input")(type="checkbox" checked).input
                  span
                +e.ios-switch-text Интерактивный режим
                +e.ios-switch-ischecked Включен
              +e.circle._1f._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/ushi.png)").circle-img
                  +e("p").circle-text Проушины под навесной замок
              +e.circle._2fb._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/ruchka.jpg)").circle-img
                  +e("p").circle-text Замок типа «цербер», ручка «гриб», проушины под навесной замок
              +e.circle._2fb._2fb2-prof._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/shekolda.png)").circle-img
                  +e("p").circle-text Щеколда с проушинами
              +e.circle._3fb._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/stolb.png)").circle-img
                  +e("p").circle-text Столб опорный для ворот 80*80 мм. Сталь 3 мм ППК
              +e.circle._4fb._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/samorez.jpg)").circle-img
                  +e("p").circle-text Крепление на кровельный саморез с резиновой шайбой в цвет по RAL
              +e.circle._5fb._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/laga.png)").circle-img
                  +e("p").circle-text Лага поперечная 40*20 мм. Сталь 1.5 мм ППК
              +e.circle._6fb._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/stolb.png)").circle-img
                  +e("p").circle-text Столб опорный 60*40 мм или 60*60 мм. Сталь 2 мм ППК
              +e.circle._7fb._7fbsh1._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/topv1t2s1.png)").circle-img
                  +e("p").circle-text Сталь 0.45-0.5 мм. Полимерное покрытие.
              +e.circle._7fb._7fbsh2._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/topv1t2s2.png)").circle-img
                  +e("p").circle-text Сталь 0.45-0.5 мм. Полимерное покрытие.
              +e.circle._7fb._7fbsh3._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/topv1t2s3.png)").circle-img
                  +e("p").circle-text Сталь 0.45-0.5 мм. Полимерное покрытие.
              +e.circle._obr_fb._obr_sh1._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/r1v1t2s1o1.png)").circle-img
                  +e("p").circle-text Прямая обрезка
              +e.circle._obr_fb._obr_sh2._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/r1v1t2s1o2.jpg)").circle-img
                  +e("p").circle-text Обрезка трапеция
              +e.circle._obr_fb._obr_sh3._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/r1v1t3s1o3.jpg)").circle-img
                  +e("p").circle-text Обрезка дуга
              +e.circle._8b-prof._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/shekolda.png)").circle-img
                  +e("p").circle-text Щеколда с проушинами. Может быть дополнена замком типа «цербер».
              +e.circle._9b._tooltip
                +e.circle-content
                  +e("span")(style="background:url(img/visualizer/4/accessories/upor.png)").circle-img
                  +e("p").circle-text Упоры для фиксации распашных ворот

            +e.buttons
              +e("a")(href="c3005" style="background:#713037;color:#713037").color._active
                +e("span").splash._first
                  +iconsvg("splash_1")(width="20" height="37.690").splash-img
                +e("span").splash._second
                  +iconsvg("splash_2")(width="30" height="63.11").splash-img
              +e("a")(href="c6005" style="background:#345C4E;color:#345C4E").color
                +e("span").splash._first
                  +iconsvg("splash_1")(width="20" height="37.690").splash-img
                +e("span").splash._second
                  +iconsvg("splash_2")(width="30" height="63.11").splash-img
              +e("a")(href="c8017" style="background:#584540;color:#584540").color
                +e("span").splash._first
                  +iconsvg("splash_1")(width="20" height="37.690").splash-img
                +e("span").splash._second
                  +iconsvg("splash_2")(width="30" height="63.11").splash-img
              +e("a")(href="cwood" style="background:#DBBE7F url(img/visualizer/4/colors/wood.png);color:#DBBE7F").color
                +e("span").splash._first
                  +iconsvg("splash_1")(width="20" height="37.690").splash-img
                +e("span").splash._second
                  +iconsvg("splash_2")(width="30" height="63.11").splash-img
          //- ВИЗУАЛИЗАТОР --- END


      +section-colors

      +calculation-form

      +section-features._inner#section-features

      .grid#gateway
        +info-block(infoBlocks)._inner

      +section-prices._inner#section-prices
        .grid
          +b("h2").heading._line.__heading Стоимость установки
          +e("p").subheading Цена монтажа зависит от материала полотна, каркаса и опорных столбов, метода установки. Предлагаем типовые базовые варианты (в качестве примера):

      +section-works(sliderWorks)._inner
        .grid
          +b("h2").heading._line.__heading Примеры ограждений из металлоштакетника
          +e("p").subheading Несколько примеров работ, выполненных нашей компанией:


    +footer(false).__footer

    +popup-callback

    script.
      window.onload = function() {
        var container = document.querySelector(".visualizer__hidden");

        var vizualizerImages = ["img/visualizer/back.jpg", "img/visualizer/4/r1v1t1s1o1c3005.png", "img/visualizer/4/r1v1t1s1o1c6005.png", "img/visualizer/4/r1v1t1s1o1c8017.png", "img/visualizer/4/r1v1t1s1o1cwood.png", "img/visualizer/4/r1v1t1s1o2c3005.png", "img/visualizer/4/r1v1t1s1o2c6005.png", "img/visualizer/4/r1v1t1s1o2c8017.png", "img/visualizer/4/r1v1t1s1o2cwood.png", "img/visualizer/4/r1v1t1s2o1c3005.png", "img/visualizer/4/r1v1t1s2o1c6005.png", "img/visualizer/4/r1v1t1s2o1c8017.png", "img/visualizer/4/r1v1t1s2o1cwood.png", "img/visualizer/4/r1v1t1s2o2c3005.png", "img/visualizer/4/r1v1t1s2o2c6005.png", "img/visualizer/4/r1v1t1s2o2c8017.png", "img/visualizer/4/r1v1t1s2o2cwood.png", "img/visualizer/4/r1v1t2s1o1c3005.png", "img/visualizer/4/r1v1t2s1o1c6005.png", "img/visualizer/4/r1v1t2s1o1c8017.png", "img/visualizer/4/r1v1t2s1o1cwood.png", "img/visualizer/4/r1v1t2s1o2c3005.png", "img/visualizer/4/r1v1t2s1o2c6005.png", "img/visualizer/4/r1v1t2s1o2c8017.png", "img/visualizer/4/r1v1t2s1o2cwood.png", "img/visualizer/4/r1v1t2s2o1c3005.png", "img/visualizer/4/r1v1t2s2o1c6005.png", "img/visualizer/4/r1v1t2s2o1c8017.png", "img/visualizer/4/r1v1t2s2o1cwood.png", "img/visualizer/4/r1v1t2s2o2c3005.png", "img/visualizer/4/r1v1t2s2o2c6005.png", "img/visualizer/4/r1v1t2s2o2c8017.png", "img/visualizer/4/r1v1t2s2o2cwood.png", "img/visualizer/4/r1v1t2s3o1c3005.png", "img/visualizer/4/r1v1t2s3o1c6005.png", "img/visualizer/4/r1v1t2s3o1c8017.png", "img/visualizer/4/r1v1t2s3o1cwood.png", "img/visualizer/4/r1v1t3s1o3c3005.png", "img/visualizer/4/r1v1t3s1o3c6005.png", "img/visualizer/4/r1v1t3s1o3c8017.png", "img/visualizer/4/r1v1t3s1o3cwood.png", "img/visualizer/4/r1v1t3s2o3c3005.png", "img/visualizer/4/r1v1t3s2o3c6005.png", "img/visualizer/4/r1v1t3s2o3c8017.png", "img/visualizer/4/r1v1t3s2o3cwood.png", "img/visualizer/4/r2v1t1s1o1c3005.png", "img/visualizer/4/r2v1t1s1o1c6005.png", "img/visualizer/4/r2v1t1s1o1c8017.png", "img/visualizer/4/r2v1t1s1o1cwood.png", "img/visualizer/4/r2v1t1s1o2c3005.png", "img/visualizer/4/r2v1t1s1o2c6005.png", "img/visualizer/4/r2v1t1s1o2c8017.png", "img/visualizer/4/r2v1t1s1o2cwood.png", "img/visualizer/4/r2v1t2s1o1c3005.png", "img/visualizer/4/r2v1t2s1o1c6005.png", "img/visualizer/4/r2v1t2s1o1c8017.png", "img/visualizer/4/r2v1t2s1o1cwood.png", "img/visualizer/4/r2v1t2s1o2c3005.png", "img/visualizer/4/r2v1t2s1o2c6005.png", "img/visualizer/4/r2v1t2s1o2c8017.png", "img/visualizer/4/r2v1t2s1o2cwood.png", "img/visualizer/4/r2v1t3s1o3c3005.png", "img/visualizer/4/r2v1t3s1o3c6005.png", "img/visualizer/4/r2v1t3s1o3c8017.png", "img/visualizer/4/r2v1t3s1o3cwood.png"];

        vizualizerImages.forEach(function(src) {
          var myImage = new Image();
          myImage.src = src;
          container.appendChild(myImage);
        });
      }
