mixin section-contacts()
  +b.section-contacts&attributes(attributes)
    +e.heading-content
      +b("h1").heading._line.__heading Контакты
    +e.content
      +e.form-container
        +b("form")(action="#" method="post" autocomplete="off").form.__form.form-validation
          +e.col._50
            +label("name", "Имя")._required-red
            .form-validation__group
              +b("input")(type="text" name="name").input._name#name.__input.validation._minlength
          +e.col._50
            +label("email", "Email")._required-red
            .form-validation__group
              +b("input")(type="email" name="email").input._email#email.__input.validation._email
          +e.col._50
            +label("phone", "Телефон")
            .form-validation__group
              +b("input")(type="text" name="phone").input._phone.mask._phone#phone.__input.validation
          +e.col._50
            +label("time", "Удобное время звонка")
            .form-validation__group
              +b("input")(type="text" name="time").input._time.mask._time#time.__input.validation._minlength
          +e.col
            +label("text", "Ваше сообщение")._required-red
            .form-validation__group
              +b("textarea")(name="text").input._textarea#text.__input.validation._minlength
          +checkbox("Я согласен на <a href=\"#\">обработку персональных данных</a>").__checkbox
          +e.button-container._right
            +b("input")(type="submit" value="Заказать").button._yellow
      +e.contacts-container
        +contacts("Наш адрес").__contacts
      +e.map
        +map-leave
        script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A36b8fd1c8001f21a63d4250846074dae8f7f13a65600412cc8e79f28f7a4c33a&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false")
